.logo-small {
  width: 80px;
  height: 45px;
}

.navbar-small {
  height: 45px;
}

.logo-margin { 
  margin-right: 20px;
}

.loading-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Make sure it's above other elements */
  /* Add other styling as needed */
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
}
.menu-item {
  color: white; /* Set text color to white */
  /* Add any other styling here */
}

.menu-item:hover {
  color: rgb(253, 253, 253) !important;
}

.navbar-dark {
  background-color: #00061b; /* Dark color */
}

/* Increased specificity example */
.ant-menu .ant-menu-item.menu-item {
  color: white !important; /* Use !important sparingly */
}

.ant-menu .ant-menu-item.menu-item:hover {
  color: rgb(253, 253, 253) !important;
}